.title {
    width: 100%;
}

.title-details {
    display: flex;
    margin-left: 50%;
}

.title-details > details {
    margin-left: 30px;
}

.title-details > details > p {
    font-size: 20px;
}